@font-face {
    font-family: "Opera Lyrics";
    src: url(../fonts/opera-lyrics-smooth.ttf);
}

.map {
    width: 100%;
    height: 100%;
    position: fixed;
}

.ol-zoom, .ol-rotate, .ol-attribution, .ol-scale-line, .ol-full-sceen, .ol-overviewmap {
}

.typed {
    font-family: "Opera Lyrics", "Times New Roman"
}

.gui {
    z-index: 500;
    position: absolute;
}
.gui-top {
    height: 40px;
    width: 100%;
}
.gui-left {
    width: 75px;
    height: 100%;
}
.gui-right {
    width: 5px;
    height: 100%;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(2px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(0, -2px, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(0, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, -2px, 0);
  }
}
.gui-corner-right .season {
    position: fixed;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 14px;
    border-bottom-left-radius: 75%;
    top: 0px;
    right: 0px;
    padding: 4px;
}
.gui-corner-right .glass {
    position: fixed;
    width: 100px;
    height: 100px;
    border-bottom-left-radius: 75%;
	background-image: linear-gradient(to bottom, rgba(93, 93, 93, 0.18), rgba(0, 0, 0, 0.36));
    top: 0px;
    right: 0px;
}
.glass.phase-2 {
	background-image: linear-gradient(to bottom, rgba(255, 93, 93, 0.25), rgba(50, 0, 0, 0.42));
}
.season.phase-2 {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count:infinite;
}
.season.season-Winter {
    background: url("/static/img/quarter_0.png");
    background-size: 122px 100px;
    background-repeat: no-repeat;
}
.season.season-Spring {
    background: url("/static/img/quarter_1.png");
    background-size: 122px 100px;
    background-repeat: no-repeat;
}
.season.season-Summer {
    background: url("/static/img/quarter_2.png");
    background-size: 122px 100px;
    background-repeat: no-repeat;
}
.season.season-Fall {
    background: url("/static/img/quarter_3.png");
    background-size: 135px 102px;
    background-repeat: no-repeat;
}


.player-0 {
    color: #283c6e;
}
.player-1 {
    color: #e43422;
}
.player-2 {
    color: #e9e9e9;
}
.player-3 {
    color: #2980b9;
}
.player-4 {
    color: #464646;
}
.player-5 {
    color: #4d7963;
}
.player-6 {
    color: #b7b622;
}

#gui {
    float: left;
    margin: 10px;
    border: solid 1px #cacaca;
}
#grid-cube {
    border: solid 1px #cacaca;
}


/*Chat*/
#chat {
    float: left;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 550px;
    height: 194px;
    background: rgba(50, 50, 50, 0.5);
    z-index: 1050;
}
#chat .messages {
    height: 166px;
    overflow-y: scroll;
    padding-left: 5px;
}
#chat .message-time {
    color: #EFEFEF;
}
#chat .message-text {
    color: white;
}
#chat #chat-input {
    background: rgba(50, 50, 50, 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    border: none;
    padding: 2px;
    padding-left: 5px;
    overflow-x: none;
    color: white;
}
#chat #chat-input:focus {
    outline: none;
}

/*OL Popup*/

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 350px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}

/* Flags */
.menu-flag:nth-child(1) {
    margin-top: 100px;    
}
.menu-flag {
    border: 2px solid black;
    font-size: 14px;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 25%;
    margin-top: 16px;
    margin-left: 2px;

    position: fixed;
    float: left;
    z-index: 520;
}
.menu-flag:hover {
    border-color: orange;
    /*margin-left: 8px;*/
}
.flag{width:100px; height:50px;background: url(flags.png)}
.flag-uk{background-position: -0px 0px}
.flag-si{background-position: -100px 0px}
.flag-sk{background-position: -200px 0px}
.flag-de{background-position: -300px 0px}
.flag-se{background-position: -400px 0px}
.flag-ro{background-position: -500px 0px}
.flag-pl{background-position: -600px 0px}
.flag-nl{background-position: -700px 0px}
.flag-mt{background-position: -800px 0px}
.flag-lt{background-position: -900px 0px}
.flag-lv{background-position: -1000px 0px}
.flag-lu{background-position: -1100px 0px}
.flag-it{background-position: -1200px 0px}
.flag-ie{background-position: -1300px 0px}
.flag-hu{background-position: -1400px 0px}
.flag-hr{background-position: -1500px 0px}
.flag-fr{background-position: -1600px 0px}
.flag-fi{background-position: -1700px 0px}
.flag-el{background-position: -1800px 0px}
.flag-ee{background-position: -1900px 0px}
.flag-es{background-position: -2000px 0px}
.flag-dk{background-position: -2100px 0px}
.flag-cz{background-position: -2200px 0px}
.flag-cy{background-position: -2300px 0px}
.flag-bg{background-position: -2400px 0px}
.flag-at{background-position: -2500px 0px}
.flag-be{background-position: -2600px 0px}
.flag-pt{background-position: -2700px 0px}

