
.flag{width:100px; height:50px;background: url(flags.png)}
.flag-xs{zoom:0.25;-moz-transform:scale(0.25);-moz-transform-origin: 0 0;}
.flag-sm{zoom:0.50;-moz-transform:scale(0.50);-moz-transform-origin: 0 0;}
.flag-lg{zoom:2.00;-moz-transform:scale(2.00);-moz-transform-origin: 0 0;}
.flag-ru{background-position: -0px 0px}
.flag-fr{background-position: -100px 0px}
.flag-uk{background-position: -200px 0px}
.flag-de{background-position: -300px 0px}
.flag-at{background-position: -400px 0px}
.flag-us{background-position: -500px 0px}
.flag-ch{background-position: -600px 0px}
.flag-cy{background-position: -700px 0px}
.flag-se{background-position: -800px 0px}
.flag-ro{background-position: -900px 0px}
.flag-pl{background-position: -1000px 0px}
.flag-nl{background-position: -1100px 0px}
.flag-it{background-position: -1200px 0px}
.flag-ie{background-position: -1300px 0px}
.flag-hu{background-position: -1400px 0px}
.flag-hr{background-position: -1500px 0px}
.flag-fi{background-position: -1600px 0px}
.flag-el{background-position: -1700px 0px}
.flag-es{background-position: -1800px 0px}
.flag-cz{background-position: -1900px 0px}
.flag-bg{background-position: -2000px 0px}
.flag-be{background-position: -2100px 0px}
.flag-pt{background-position: -2200px 0px}
.flag-no{background-position: -2300px 0px}
.flag-tr{background-position: -2400px 0px}
.flag-ar{background-position: -2500px 0px}
.flag-ao{background-position: -2600px 0px}
.flag-br{background-position: -2700px 0px}
.flag-ca{background-position: -2800px 0px}
.flag-co{background-position: -2900px 0px}
.flag-dz{background-position: -3000px 0px}
.flag-ec{background-position: -3100px 0px}
.flag-eg{background-position: -3200px 0px}
.flag-id{background-position: -3300px 0px}
.flag-in{background-position: -3400px 0px}
.flag-jp{background-position: -3500px 0px}
.flag-ma{background-position: -3600px 0px}
.flag-rs{background-position: -3700px 0px}
.flag-ua{background-position: -3800px 0px}
.flag-za{background-position: -3900px 0px}
.flag-cn{background-position: -4000px 0px}
