
.flag{width:100px; height:39px;background: url(flags.png)}
.flag-xs{zoom:0.25;-moz-transform:scale(0.25);-moz-transform-origin: 0 0;}
.flag-sm{zoom:0.50;-moz-transform:scale(0.50);-moz-transform-origin: 0 0;}
.flag-lg{zoom:2.00;-moz-transform:scale(2.00);-moz-transform-origin: 0 0;}
.flag-ad{background-position: -0px 0px}
.flag-ae{background-position: -100px 0px}
.flag-af{background-position: -200px 0px}
.flag-ag{background-position: -300px 0px}
.flag-ai{background-position: -400px 0px}
.flag-al{background-position: -500px 0px}
.flag-am{background-position: -600px 0px}
.flag-ao{background-position: -700px 0px}
.flag-aq{background-position: -800px 0px}
.flag-ar{background-position: -900px 0px}
.flag-as{background-position: -1000px 0px}
.flag-at{background-position: -1100px 0px}
.flag-au{background-position: -1200px 0px}
.flag-aw{background-position: -1300px 0px}
.flag-ax{background-position: -1400px 0px}
.flag-az{background-position: -1500px 0px}
.flag-ba{background-position: -1600px 0px}
.flag-bb{background-position: -1700px 0px}
.flag-bd{background-position: -1800px 0px}
.flag-be{background-position: -1900px 0px}
.flag-bf{background-position: -2000px 0px}
.flag-bg{background-position: -2100px 0px}
.flag-bh{background-position: -2200px 0px}
.flag-bi{background-position: -2300px 0px}
.flag-bj{background-position: -2400px 0px}
.flag-bl{background-position: -2500px 0px}
.flag-bm{background-position: -2600px 0px}
.flag-bn{background-position: -2700px 0px}
.flag-bo{background-position: -2800px 0px}
.flag-br{background-position: -2900px 0px}
.flag-bs{background-position: -3000px 0px}
.flag-bt{background-position: -3100px 0px}
.flag-bv{background-position: -3200px 0px}
.flag-bw{background-position: -3300px 0px}
.flag-by{background-position: -3400px 0px}
.flag-bz{background-position: -3500px 0px}
.flag-ca{background-position: -3600px 0px}
.flag-cc{background-position: -3700px 0px}
.flag-cd{background-position: -3800px 0px}
.flag-cf{background-position: -3900px 0px}
.flag-cg{background-position: -4000px 0px}
.flag-ch{background-position: -4100px 0px}
.flag-ci{background-position: -4200px 0px}
.flag-ck{background-position: -4300px 0px}
.flag-cl{background-position: -4400px 0px}
.flag-cm{background-position: -4500px 0px}
.flag-cn{background-position: -4600px 0px}
.flag-co{background-position: -4700px 0px}
.flag-cr{background-position: -4800px 0px}
.flag-cu{background-position: -4900px 0px}
.flag-cv{background-position: -5000px 0px}
.flag-cw{background-position: -5100px 0px}
.flag-cx{background-position: -5200px 0px}
.flag-cy{background-position: -5300px 0px}
.flag-cz{background-position: -5400px 0px}
.flag-de{background-position: -5500px 0px}
.flag-dj{background-position: -5600px 0px}
.flag-dk{background-position: -5700px 0px}
.flag-dm{background-position: -5800px 0px}
.flag-do{background-position: -5900px 0px}
.flag-dz{background-position: -6000px 0px}
.flag-ec{background-position: -6100px 0px}
.flag-ee{background-position: -6200px 0px}
.flag-eg{background-position: -6300px 0px}
.flag-eh{background-position: -6400px 0px}
.flag-el{background-position: -6500px 0px}
.flag-er{background-position: -6600px 0px}
.flag-es{background-position: -6700px 0px}
.flag-et{background-position: -6800px 0px}
.flag-fi{background-position: -6900px 0px}
.flag-fj{background-position: -7000px 0px}
.flag-fk{background-position: -7100px 0px}
.flag-fm{background-position: -7200px 0px}
.flag-fo{background-position: -7300px 0px}
.flag-fr{background-position: -7400px 0px}
.flag-ga{background-position: -7500px 0px}
.flag-gb{background-position: -7600px 0px}
.flag-gd{background-position: -7700px 0px}
.flag-ge{background-position: -7800px 0px}
.flag-gf{background-position: -7900px 0px}
.flag-gg{background-position: -8000px 0px}
.flag-gh{background-position: -8100px 0px}
.flag-gi{background-position: -8200px 0px}
.flag-gl{background-position: -8300px 0px}
.flag-gm{background-position: -8400px 0px}
.flag-gn{background-position: -8500px 0px}
.flag-gp{background-position: -8600px 0px}
.flag-gq{background-position: -8700px 0px}
.flag-gs{background-position: -8800px 0px}
.flag-gt{background-position: -8900px 0px}
.flag-gu{background-position: -9000px 0px}
.flag-gw{background-position: -9100px 0px}
.flag-gy{background-position: -9200px 0px}
.flag-hk{background-position: -9300px 0px}
.flag-hm{background-position: -9400px 0px}
.flag-hn{background-position: -9500px 0px}
.flag-hr{background-position: -9600px 0px}
.flag-ht{background-position: -9700px 0px}
.flag-hu{background-position: -9800px 0px}
.flag-id{background-position: -9900px 0px}
.flag-ie{background-position: -10000px 0px}
.flag-il{background-position: -10100px 0px}
.flag-im{background-position: -10200px 0px}
.flag-in{background-position: -10300px 0px}
.flag-io{background-position: -10400px 0px}
.flag-iq{background-position: -10500px 0px}
.flag-ir{background-position: -10600px 0px}
.flag-is{background-position: -10700px 0px}
.flag-it{background-position: -10800px 0px}
.flag-je{background-position: -10900px 0px}
.flag-jm{background-position: -11000px 0px}
.flag-jo{background-position: -11100px 0px}
.flag-jp{background-position: -11200px 0px}
.flag-ke{background-position: -11300px 0px}
.flag-kg{background-position: -11400px 0px}
.flag-kh{background-position: -11500px 0px}
.flag-ki{background-position: -11600px 0px}
.flag-km{background-position: -11700px 0px}
.flag-kn{background-position: -11800px 0px}
.flag-kp{background-position: -11900px 0px}
.flag-kr{background-position: -12000px 0px}
.flag-kw{background-position: -12100px 0px}
.flag-ky{background-position: -12200px 0px}
.flag-kz{background-position: -12300px 0px}
.flag-la{background-position: -12400px 0px}
.flag-lb{background-position: -12500px 0px}
.flag-lc{background-position: -12600px 0px}
.flag-li{background-position: -12700px 0px}
.flag-lk{background-position: -12800px 0px}
.flag-lr{background-position: -12900px 0px}
.flag-ls{background-position: -13000px 0px}
.flag-lt{background-position: -13100px 0px}
.flag-lu{background-position: -13200px 0px}
.flag-lv{background-position: -13300px 0px}
.flag-ly{background-position: -13400px 0px}
.flag-ma{background-position: -13500px 0px}
.flag-mc{background-position: -13600px 0px}
.flag-md{background-position: -13700px 0px}
.flag-me{background-position: -13800px 0px}
.flag-mf{background-position: -13900px 0px}
.flag-mg{background-position: -14000px 0px}
.flag-mh{background-position: -14100px 0px}
.flag-mk{background-position: -14200px 0px}
.flag-ml{background-position: -14300px 0px}
.flag-mm{background-position: -14400px 0px}
.flag-mn{background-position: -14500px 0px}
.flag-mo{background-position: -14600px 0px}
.flag-mp{background-position: -14700px 0px}
.flag-mq{background-position: -14800px 0px}
.flag-mr{background-position: -14900px 0px}
.flag-ms{background-position: -15000px 0px}
.flag-mt{background-position: -15100px 0px}
.flag-mu{background-position: -15200px 0px}
.flag-mv{background-position: -15300px 0px}
.flag-mw{background-position: -15400px 0px}
.flag-mx{background-position: -15500px 0px}
.flag-my{background-position: -15600px 0px}
.flag-mz{background-position: -15700px 0px}
.flag-na{background-position: -15800px 0px}
.flag-nc{background-position: -15900px 0px}
.flag-ne{background-position: -16000px 0px}
.flag-nf{background-position: -16100px 0px}
.flag-ng{background-position: -16200px 0px}
.flag-ni{background-position: -16300px 0px}
.flag-nl{background-position: -16400px 0px}
.flag-no{background-position: -16500px 0px}
.flag-np{background-position: -16600px 0px}
.flag-nr{background-position: -16700px 0px}
.flag-nu{background-position: -16800px 0px}
.flag-nz{background-position: -16900px 0px}
.flag-om{background-position: -17000px 0px}
.flag-pa{background-position: -17100px 0px}
.flag-pe{background-position: -17200px 0px}
.flag-pf{background-position: -17300px 0px}
.flag-pg{background-position: -17400px 0px}
.flag-ph{background-position: -17500px 0px}
.flag-pk{background-position: -17600px 0px}
.flag-pl{background-position: -17700px 0px}
.flag-pm{background-position: -17800px 0px}
.flag-pn{background-position: -17900px 0px}
.flag-pr{background-position: -18000px 0px}
.flag-ps{background-position: -18100px 0px}
.flag-pt{background-position: -18200px 0px}
.flag-pw{background-position: -18300px 0px}
.flag-py{background-position: -18400px 0px}
.flag-qa{background-position: -18500px 0px}
.flag-re{background-position: -18600px 0px}
.flag-ro{background-position: -18700px 0px}
.flag-rs{background-position: -18800px 0px}
.flag-ru{background-position: -18900px 0px}
.flag-rw{background-position: -19000px 0px}
.flag-sa{background-position: -19100px 0px}
.flag-sb{background-position: -19200px 0px}
.flag-sc{background-position: -19300px 0px}
.flag-sd{background-position: -19400px 0px}
.flag-se{background-position: -19500px 0px}
.flag-sg{background-position: -19600px 0px}
.flag-sh{background-position: -19700px 0px}
.flag-si{background-position: -19800px 0px}
.flag-sj{background-position: -19900px 0px}
.flag-sk{background-position: -20000px 0px}
.flag-sl{background-position: -20100px 0px}
.flag-sm{background-position: -20200px 0px}
.flag-sn{background-position: -20300px 0px}
.flag-so{background-position: -20400px 0px}
.flag-sr{background-position: -20500px 0px}
.flag-ss{background-position: -20600px 0px}
.flag-st{background-position: -20700px 0px}
.flag-sv{background-position: -20800px 0px}
.flag-sx{background-position: -20900px 0px}
.flag-sy{background-position: -21000px 0px}
.flag-sz{background-position: -21100px 0px}
.flag-tc{background-position: -21200px 0px}
.flag-td{background-position: -21300px 0px}
.flag-tf{background-position: -21400px 0px}
.flag-tg{background-position: -21500px 0px}
.flag-th{background-position: -21600px 0px}
.flag-tj{background-position: -21700px 0px}
.flag-tk{background-position: -21800px 0px}
.flag-tl{background-position: -21900px 0px}
.flag-tm{background-position: -22000px 0px}
.flag-tn{background-position: -22100px 0px}
.flag-to{background-position: -22200px 0px}
.flag-tr{background-position: -22300px 0px}
.flag-tt{background-position: -22400px 0px}
.flag-tv{background-position: -22500px 0px}
.flag-tw{background-position: -22600px 0px}
.flag-tz{background-position: -22700px 0px}
.flag-ua{background-position: -22800px 0px}
.flag-ug{background-position: -22900px 0px}
.flag-um{background-position: -23000px 0px}
.flag-us{background-position: -23100px 0px}
.flag-uy{background-position: -23200px 0px}
.flag-uz{background-position: -23300px 0px}
.flag-va{background-position: -23400px 0px}
.flag-vc{background-position: -23500px 0px}
.flag-ve{background-position: -23600px 0px}
.flag-vg{background-position: -23700px 0px}
.flag-vi{background-position: -23800px 0px}
.flag-vn{background-position: -23900px 0px}
.flag-vu{background-position: -24000px 0px}
.flag-wf{background-position: -24100px 0px}
.flag-ws{background-position: -24200px 0px}
.flag-ye{background-position: -24300px 0px}
.flag-yt{background-position: -24400px 0px}
.flag-za{background-position: -24500px 0px}
.flag-zm{background-position: -24600px 0px}
.flag-zw{background-position: -24700px 0px}
